<template name = "SideNav">
    <nav class = "side-nav">
        <ul>
            <li>
            <a href="/all-alerts"><i class="fa fa-archive" aria-hidden="true"></i>All Alerts</a>
            </li>
            
            <li>
            <a href="/unresolved-alerts"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Unresolved Alerts</a>
            </li>
            
            <li>
            <a href="/in-progress"><i class="fa fa-spinner" aria-hidden="true"></i>Alerts In Progress</a>
            </li>
            
            <li>
            <a href="/resolved-alerts"><i class="fa fa-check-square-o" aria-hidden="true"></i>Resolved Alerts</a>
            </li>
        </ul>
    </nav>
</template>